body{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background:   linear-gradient(135deg ,#71b7e6, #9b59b6);
	

}
.main-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.login{
    border: 3px solid #922B21;
    border-radius: 5px;
}
.login-wrap{
    padding:20px;
}
